<div id="project_bio" class="bg-white p-5 border border-black border-2 mb-8 hidden sm:block">
  <div>
    <h3 class="font-title text-md font-semibold mb-2">What is this?</h3>
    <p><%= Project.current.description.html_safe %></p>
  </div>
</div>
