<!-- 10,000 hours progress bar as percentage (mobile only) -->
<div class="sm:hidden py-4">
  <small>Progress (<%= project_progress_percentage %>%)</small>
  <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
    <!-- TODO: make colors customizable -->
    <div class="bg-blue-600 h-2.5 rounded-full" style="width: <%= project_progress_percentage %>%"></div>
  </div>
</div>
